# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db